<script setup lang="ts">

</script>

<template>
  <div class="flex justify-center items-center w-screen h-screen bg-stone-800 text-white">
    <div class="w-[500px] rounded-lg border-2 border-amber-100 p-6 flex flex-col items-center justify-center">
      <h1>Home</h1>
      <span class="text-primary text-3xl p-6">Hello world</span>
    </div>
  </div>
</template>

<style scoped>
</style>
```
